In [312]:
import os
import pandas as pd

In [313]:
purchase_data = pd.read_json("purchase_data.json")
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [314]:
#The purpose for this line is to understand the data better
players_names=purchase_data["SN"].unique()
players_names

array(['Aelalis34', 'Eolo46', 'Assastnya25', 'Pheusrical25', 'Aela59',
       'Tanimnya91', 'Undjaskla97', 'Iathenudil29', 'Sondenasta63',
       'Hilaerin92', 'Chamosia29', 'Sally64', 'Iskossa88',
       'Seorithstilis90', 'Sundast29', 'Haellysu29', 'Sundista85',
       'Aenarap34', 'Iskista88', 'Assossa43', 'Irith83', 'Iaralrgue74',
       'Deural48', 'Chanosia65', 'Qarwen67', 'Idai61', 'Aerithllora36',
       'Ilariarin45', 'Phaedai25', 'Eulaeria40', 'Iarilis73', 'Malunil62',
       'Iskimnya76', 'Yararmol43', 'Aisur51', 'Undare39', 'Sondossa91',
       'Chamjasknya65', 'Lassilsa63', 'Tyisur83', 'Aeral43',
       'Lassadarsda57', 'Alaephos75', 'Frichjask31', 'Eusur90',
       'Palatyon26', 'Saellyra72', 'Ililsa62', 'Eosur70', 'Saistyphos30',
       'Reula64', 'Chanirrala39', 'Chadanto83', 'Minduli80', 'Heunadil74',
       'Marilsasya33', 'Alallo58', 'Tyaeristi78', 'Ila44', 'Iskossaya95',
       'Rinallorap73', 'Aeri84', 'Ryanara76', 'Syally44', 'Shaidanu32',
       'Syasriria69', 'Lisiriya82', 'Iskosia51', 'Eosurdru76',
       'Lassimla92', 'Tauldilsa43', 'Erudrion71', 'Chanjaskan37',
       'Sondastan54', 'Strithenu87', 'Chanastsda67', 'Baelollodeu94',
       'Undirrala66', 'Chanosseya79', 'Yaristi64', 'Airi27',
       'Frichaststa61', 'Raysistast71', 'Ithergue48', 'Chanastst38',
       'Sundosiasta28', 'Undotesta33', 'Tyiaduenuru55', 'Iskjaskst81',
       'Iskjaskan81', 'Frichim27', 'Hailaphos89', 'Jiskjask80',
       'Yasurra52', 'Assassasta79', 'Lamyon68', 'Alo67', 'Farenon57',
       'Assistasda90', 'Frichaya88', 'Marassanya92', 'Iskista96',
       'Mindirra92', 'Chadossa56', 'Eoda93', 'Lassast89', 'Philodil43',
       'Tyirithnu40', 'Haerith37', 'Jeyciman68', 'Chamirraya83', 'Yasur85',
       'Koikirra25', 'Quarunarn52', 'Yasur35', 'Isurriarap71',
       'Lassjask63', 'Iliel92', 'Arithllorin55', 'Silideu44',
       'Heosurnuru52', 'Raesty92', 'Eyircil84', 'Isursti83', 'Eurinu48',
       'Saedaiphos46', 'Jiskossa51', 'Sundossast30', 'Ialallo29',
       'Chanosia60', 'Ilosia37', 'Tyeulisu40', 'Yaliru88', 'Jiskassa76',
       'Idairin80', 'Dyally87', 'Quarusrion32', 'Adairialis76',
       'Lirtilsan89', 'Reolacal36', 'Lisirrast82', 'Ilrian97', 'Tyadaru49',
       'Sweecossa42', 'Streural92', 'Queusurra38', 'Lassilsa41',
       'Aisurphos78', 'Marim28', 'Taeduenu92', 'Eodailis27',
       'Lassjaskan73', 'Yadanun74', 'Iskossasda43', 'Aesty51', 'Tyida79',
       'Frichossast75', 'Eratiel90', 'Chamirra53', 'Alarap40',
       'Ralaeriadeu65', 'Reulae52', 'Stryanastip77', 'Iskirra45',
       'Chadadarya31', 'Heuli25', 'Raillydeu47', 'Chamadar61', 'Assassa38',
       'Chanosiaya39', 'Raeri71', 'Hiasri33', 'Lisossa25', 'Sundassa93',
       'Rina82', 'Siarinum43', 'Eurallo89', 'Hirirap39', 'Aidaira26',
       'Zontibe81', 'Farusrian86', 'Undadarla37', 'Lirtossa78',
       'Chanirra56', 'Lisasi93', 'Phadai31', 'Tyithesura58', 'Marilsa48',
       'Siarithria38', 'Marirrasta50', 'Airidil41', 'Sausosia74',
       'Sialaera37', 'Frichistasta59', 'Phadue96', 'Chanirra79',
       'Yarmol79', 'Astydil38', 'Jiskirran77', 'Marjasksda39',
       'Eoralphos86', 'Lisovynya38', 'Frichim77', 'Aellyrialis39',
       'Chamilsan75', 'Saida58', 'Eusri70', 'Aeduera68', 'Qilatie51',
       'Chamistast30', 'Qiluard68', 'Tyaelo67', 'Rithe77', 'Tyeosristi57',
       'Eoral49', 'Aelollo59', 'Lisossa63', 'Wailin72', 'Yarithllodeu72',
       'Lisistaya47', 'Chamadar27', 'Ethruard50', 'Yathecal72', 'Ilimya66',
       'Ialistidru50', 'Tyaerith73', 'Lisistasya93', 'Chamadar79',
       'Iallyphos37', 'Ilogha82', 'Ilaesudil92', 'Meosridil82',
       'Undirrasta89', 'Lirtistanya48', 'Iadueria43', 'Lisjaskan36',
       'Saedue76', 'Undjasksya56', 'Irithrap69', 'Quanenrian83',
       'Phenastya51', 'Marassaya49', 'Yasrisu92', 'Qilanrion65',
       'Chanassa48', 'Iskassa50', 'Frichjaskan98', 'Sirira97',
       'Eoduenurin62', 'Yarirarn35', 'Aillycal84', 'Chanadar44',
       'Lisimsda29', 'Tyidue95', 'Yaralnura48', 'Irillo49', 'Isri59',
       'Aiduecal76', 'Frichosiala98', 'Deelilsasya30', 'Mindilsa60',
       'Iladarla40', 'Chrathybust28', 'Yarithsurgue62', 'Mindossa76',
       'Assilsan72', 'Assassa43', 'Yarolwen77', 'Faralcil63', 'Sondilsa40',
       'Lisossan98', 'Chadossa89', 'Eosrirgue62', 'Filrion44',
       'Lassassasda30', 'Aidain51', 'Aduephos78', 'Hainaria90',
       'Raerithsti62', 'Reuthelis39', 'Sundaststa26', 'Aelin32',
       'Sundadarla27', 'Aeliru63', 'Lisista27', 'Narirra38', 'Eustyria89',
       'Phistym51', 'Salilis27', 'Layjask75', 'Lirtyrdesta65',
       'Syalollorap93', 'Assylla81', 'Eurisuru25', 'Mindjasksya61',
       'Eusri44', 'Rarith48', 'Yalaeria91', 'Iskadarya95', 'Lisossanya98',
       'Iarithdil76', 'Aeliriarin93', 'Raedalis34', 'Sondossa55',
       'Lisico81', 'Ialo60', 'Syathe73', 'Lisassa26', 'Rasrirgue43',
       'Aerillorin70', 'Quelatarn54', 'Airithrin43', 'Lisjasksda68',
       'Aerithnuphos61', 'Lirtosia72', 'Aeliriam77', 'Lisirra55',
       'Aeral97', 'Lisosiast26', 'Lirtistasta79', 'Lisadar44', 'Isurria36',
       'Sundastnya66', 'Raesursurap33', 'Sondassasya91', 'Ermol76',
       'Yadaisuir65', 'Zhisrisu83', 'Sondassa68', 'Yarithphos28',
       'Ingatcil75', 'Eothe56', 'Assithasta65', 'Palurrian69',
       'Iskistasda86', 'Tyaili86', 'Liawista80', 'Seosri62', 'Silinu63',
       'Aela49', 'Assosiasta83', 'Saelollop56', 'Saena74',
       'Tyaelistidru84', 'Chamirrasya33', 'Smecherdi88', 'Leulaesti78',
       'Tyaenasti87', 'Sondassa48', 'Saistydru69', 'Saisrilis27',
       'Indonmol95', 'Fironon91', 'Lirtossanya27', 'Sondadar26',
       'Phalinun47', 'Hiarideu73', 'Qilunan34', 'Pharithdil38',
       'Tyeuladeu30', 'Ina92', 'Aithelis62', 'Indcil77', 'Hallysucal81',
       'Tyeuduephos81', 'Heosrisuir72', 'Lirtassa47', 'Ithesuphos68',
       'Eula35', 'Aina42', 'Ethrusuard41', 'Chanirrasta87', 'Ilirrasda54',
       'Liri91', 'Undadar97', 'Lisosianya62', 'Mindimnya67',
       'Undistasta86', 'Alaesu91', 'Jiskosiala43', 'Heuralsti66',
       'Umuard36', 'Asur53', 'Thryallym62', 'Frichassala85', 'Ilosu82',
       'Pheodai94', 'Undirrasta74', 'Hiasur92', 'Tillyrin30', 'Riralsti91',
       'Iasur80', 'Eryon48', 'Whaestysu86', 'Aiduesu83', 'Iaralsuir44',
       'Chanjask65', 'Frichistast39', 'Phairinum94', 'Ethralan59',
       'Raelly43', 'Lisassasta50', 'Chanastnya43', 'Sondimla25',
       'Chamilsala65', 'Idaria87', 'Lamil79', 'Qaronon57', 'Chadjask77',
       'Ethralista69', 'Phaeduesurgue38', 'Rathellorin54', 'Filon68',
       'Ingonon91', 'Assesi91', 'Aellyria80', 'Aethedru70', 'Tyalaesu89',
       'Tyisriphos58', 'Seudaillorap38', 'Malista67', 'Ristydru66',
       'Yasriphos60', 'Phainasu47', 'Eural50', 'Mindassast27',
       'Iskossan49', 'Qarrian82', 'Eulidru49', 'Inguard95', 'Hiral75',
       'Undast38', 'Airal46', 'Saerallora71', 'Frichossast86', 'Undirra73',
       'Phaestycal84', 'Eosursurap97', 'Seolollo93', 'Ililsan66',
       'Aesur96', 'Iskosian40', 'Aillyriadru65', 'Lisassa49', 'Ialidru40',
       'Sondim43', 'Aethe80', 'Eudasu82', 'Lisirraya76', 'Haedasu65',
       'Iral74', 'Lisjaskya84', 'Saelaephos52', 'Chamim85', 'Lirtista72',
       'Seudanu38', 'Siathecal92', 'Eullydru35', 'Isrirgue68', 'Raithe71',
       'Yathecal82', 'Saralp86', 'Tyeuduen32', 'Aina43', 'Undiwinya88',
       'Silaera56', 'Billysu76', 'Aidaira48', 'Euna48', 'Lamil70',
       'Chamadarnya73', 'Ilast79', 'Sondilsa35', 'Ralonurin90',
       'Marundi65', 'Phaedan76', 'Ilassa51', 'Lirtossa84', 'Chamastya76',
       'Heolo60', 'Thourdirra92', 'Frichadar89', 'Jiskilsa35',
       'Philistirap41', 'Tyidainu31', 'Tridaira71', 'Mindadaran26',
       'Lisassa39', 'Alaesu77', 'Mindossasya74', 'Syadaillo88',
       'Lassilsala30', 'Eusri26', 'Lirtossan50', 'Sondim73', 'Assosia38',
       'Tyeosri53', 'Raesurdil91', 'Anallorgue57', 'Rithe53', 'Quinarap53',
       'Haerithp41', 'Seuthelis34', 'Styaduen40', 'Ennoncil86',
       'Ilaststa70', 'Tyarithn67', 'Aerithnucal56', 'Sundjask71', 'Yalo71',
       'Mindetosya30', 'Chanjaskan89', 'Lirtast83', 'Lassassast73',
       'Strairisti57', 'Filrion59', 'Aellysup38', 'Hala31', 'Chanosiast43',
       'Sundim98', 'Crausirra42', 'Frichast72', 'Sida61', 'Iri67',
       'Ririp86', 'Jiskimsda56', 'Assistast50', 'Euliria52',
       'Aerithriaphos45', 'Phyali88', 'Aeral85', 'Tyaelorgue39',
       'Tyananurgue44', 'Isketo41', 'Sundast87', 'Yadacal26', 'Ilophos58',
       'Marilsanya48', 'Phially37', 'Iduedru67', 'Saidairiaphos61',
       'Chamimla73', 'Eurith26', 'Iskichinya81', 'Hiadanurin36',
       'Tyaelly53', 'Shidai42', 'Bartassaya73', 'Mindosiasya28',
       'Indirrian56', 'Sondim68', 'Cosadar58', 'Leyirra83', 'Inguron55',
       'Ralasti48', 'Lamon28', 'Isri49', 'Eollym91', 'Yalostiphos68',
       'Ailaesuir66', 'Siasri67', 'Ryastycal90', 'Raeduerin33',
       'Assassasda84', 'Nitherian58', 'Chamucosda93', 'Frichilsasya78',
       'Aenasu69', 'Lassista97', 'Sidap51', 'Chamadarsda63', 'Quelaton80',
       'Alim85'], dtype=object)

In [315]:
# Player Count:
# Total Number of Players

total_players = pd.DataFrame(players_names)
total_players.count()

0    573
dtype: int64

In [316]:
total_players_df = pd.DataFrame({"Total Players": total_players.count()})
total_players_df

   Total Players
0            573

In [317]:
# Purchasing Analysis (Total):
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

In [318]:
#The purpose for this line is to understand the data better
purchase_data.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [319]:
#The purpose for this line is to understand the data better
purchase_data.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [320]:
# Number of Unique Items:
items=pd.DataFrame(purchase_data["Item Name"].unique()).count()
items

0    179
dtype: int64

In [321]:
# Average Purchase Price
avg_price=purchase_data["Price"].mean()

# print ("$" + str(avg_price.mean()))
avg_price='$ {:,.2f} '.format(avg_price)
avg_price

'$ 2.93 '

In [322]:
# Total Number of Purchases

total_purchase=purchase_data["Item Name"].count()
total_purchase

780

In [323]:
# Total Revenue


# print("$"+str(total_rev.sum()))
total_rev = purchase_data["Price"].sum()
total_rev ='${:,.2f}'.format(total_rev)
total_rev

'$2,286.33'

In [324]:
#Now I can make the Total Purchasing Analysis

purchase_analysis= {"Number of Unique Items": items,
                    "Average Price": avg_price, 
                    "Number of Purchases": total_purchase,
                    "Total Revenue":total_rev
                   }
purchase_analysis

{'Average Price': '$ 2.93 ',
 'Number of Purchases': 780,
 'Number of Unique Items': 0    179
 dtype: int64,
 'Total Revenue': '$2,286.33'}

In [325]:
#Total Purchasing Analysis

purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0       $ 2.93                   780                     179     $2,286.33

"""
Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed
"""

In [326]:
gender=purchase_data["Gender"].value_counts()
gender

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [327]:
purchase_no_dup = purchase_data.drop_duplicates("SN")
purchase_no_dup.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [328]:
gender_count=pd.DataFrame(purchase_no_dup["Gender"].value_counts())
gender_count

                       Gender
Male                      465
Female                    100
Other / Non-Disclosed       8

In [329]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed


gender_count["Percent"]=(gender_count["Gender"]/gender_count["Gender"].sum())*100
gender_count["Percent"]

Male                     81.151832
Female                   17.452007
Other / Non-Disclosed     1.396161
Name: Percent, dtype: float64

In [330]:
#Gender Demographics
gender_count = pd.DataFrame({"Percent":gender_count["Percent"], "Gender Count":gender_count["Gender"]})
gender_count

                       Gender Count    Percent
Male                            465  81.151832
Female                          100  17.452007
Other / Non-Disclosed             8   1.396161

In [331]:
# Purchasing Analysis (Gender)

# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [332]:
# Purchase Count

purchase_data_grouped = purchase_data.groupby(["Gender"])
purchase_data_grouped.head(2)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59

In [333]:
#Average Purchase Price
purchase_by_gender_avg= purchase_data_grouped["Price"].mean()
purchase_by_gender_avg

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [334]:
# Total Purchase Value
purchase_by_gender= purchase_data_grouped["Price"].sum()
purchase_by_gender

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [335]:
#Purchasing Analysis (Gender)

summary_df = pd.DataFrame({"Purchase count":gender, "Average Purchase Price":purchase_by_gender_avg, "Total Purchase Value": purchase_by_gender, "Normalized Totals": purchase_by_gender/gender})
summary_df

,Average Purchase Price,Normalized Totals,Purchase count,Total Purchase Value
Female,2.815515,2.815515,136,382.91
Male,2.950521,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,3.249091,11,35.74

In [336]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [337]:
#creating Bins and Bin Names first:

bins=[0,9,14,19,24,29,34,39,50]
group_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [338]:
purchase_data["Age Range"]=pd.cut(purchase_data['Age'], bins, labels=group_names)
purchase_data.head(2)

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24

In [339]:
purchase_data=purchase_data.sort_values(by="Age Range")
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
582,9,Male,26,Unholy Wand,1.88,Saralp86,<10
289,8,Male,79,"Alpha, Oath of Zeal",2.88,Iladarla40,<10
260,9,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Undjasksya56,<10
402,8,Male,65,Conqueror Adamantite Mace,1.96,Tyaenasti87,<10
574,7,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Eullydru35,<10

In [340]:
age_demographic=purchase_data.groupby(["Age Range"])
age_demographic.head(1)

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
582,9,Male,26,Unholy Wand,1.88,Saralp86,<10
588,13,Female,26,Unholy Wand,1.88,Eoralphos86,10-14
321,18,Male,137,"Aetherius, Boon of the Blessed",4.75,Eustyria89,15-19
490,23,Male,40,Second Chance,2.34,Lamil79,20-24
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68,25-29
682,30,Male,83,Lifebender,3.51,Frichaya88,30-34
739,35,Female,93,Apocalyptic Battlescythe,3.91,Cosadar58,35-39
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40+

In [341]:
# age_demographic["Percent"]=(age_demographic["Age Range"].count()/age_demographic["Age Range"].sum())*100
# age_demographic["Percent"]
# age_demographic_summary=pd.DataFrame=({"Percentage of Players": age_demographic["Percent"], "Total Count": age_demographic["Age Range"]})
# age_demographic_summary

In [342]:
# Top Spenders

# Identify the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [343]:
# Top_spenders = Purchase_df.groupby(['SN'])
top_spenders = purchase_data.groupby(["SN"])
top_spenders_summary = pd.DataFrame({"Purchase Count": top_spenders["Price"].count(),
                                    "Average Purchase Price": top_spenders["Price"].mean(),
                                    "Total Purchase Value": top_spenders["Price"].sum()})
top_spenders_summary =top_spenders_summary.sort_values("Total Purchase Value", ascending=False)
top_spenders_summary.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

In [344]:
# Most Popular Items

# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [350]:
#Most Popular Items:
popular_items = purchase_data.groupby(["Item ID", "Item Name"])
popular_items_summary = pd.DataFrame({
        "Purchase Count":popular_items["Price"].count(),
        "Item Price":popular_items["Price"].sum()/popular_items["Price"].count(),
        "Total Purchase Value":popular_items["Price"].sum()
    })
popular_items_summary = popular_items_summary.sort_values("Purchase Count", ascending=False)
popular_items_summary.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [351]:
# Most Profitable Items

# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [348]:
#Most profitable Items
profit_items = purchase_data.groupby(["Item ID", "Item Name"])
profit_items_summary =pd.DataFrame({
        "Purchase Count":popular_items["Price"].count(),
        "Item Price":popular_items["Price"].sum()/popular_items["Price"].count(),
        "Total Purchase Value":popular_items["Price"].sum()
    })
profit_items_summary = profit_items_summary.sort_values("Total Purchase Value", ascending=False)
profit_items_summary.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88